@charset "UTF-8";

/* Size
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
// Break Points
$break-small: 767px;

// Canvas Size
$pc-basis: 1366px;
$sp-basis: 375px;

// PC Responsive Width
$max-basis: 1680px;
$min-basis: 1024px;

/* Color
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
$color-black: #1a1a1a;
$color-text: $color-black;
$color-link: $color-black;

$color-accent: $color-black;

/* Font
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
$base-font-size: 16px;
$base-line-height: 1.8;
$font-sans-serif: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN',
  'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
$font-yugothic: '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3',
  'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
$font-serif: 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝',
  serif;
$font-yumincho: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3',
  'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', serif;

/* Easing
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
// easeOutQuad
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

/* Z-index
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
$z-map: (
  // why: (
    //   slanting,
    //   inner,
    //   header,
    //   questionLower,
    //   people,
    //   slantingCovered,
    //   answer,
    //   question,
    //   catchCopy,
    //   suprisedImage,
    //   suprisedText,
    // ),
    // knowMore: true,
    // outroduction: true,
    // catchCopy: true,
);
