<!DOCTYPE html>
<html lang="ja" class="html">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- OG Tag -->
    <title></title>
    <!-- Include files -->
    <link href="/common/css/common.css" rel="stylesheet" />
  </head>
  <body ontouchstart="">
    <main id="app">
      <ul>
        <li v-for="(tab, tabName) in tabs" :key="tabName">
          <button
            class="tab"
            @click="setTabActive(tabName)"
            :class="{'active': tabName === activeTab}"
          >
            <span class="tab-copy">{{ tabName }}</span>
          </button>
        </li>
      </ul>
      <div class="container">
        <transition name="fade" mode="out-in" appear :duration="500">
          <tab-content
            v-for="(tabContent, t) in tabs"
            :data="tabContent"
            :key="'content'+t"
            v-if="t === activeTab"
            inline-template
          >
            <div class="content">
              <h1>{{ data.title }}</h1>
              <p>{{ data.body }}</p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Nesciunt labore id sint voluptas assumenda optio ullam excepturi
                officia, a commodi nobis rem saepe error iusto, minima ipsum
                ducimus quos dignissimos itaque, temporibus esse impedit?
                Veritatis repellat dolor magnam modi error!
              </p>
            </div>
          </tab-content>
        </transition>
      </div>
    </main>

    <script src="/common/js/library/pace/pace.min.js" defer></script>
    <script src="/common/js/library/lazysizes/lazysizes.min.js" defer></script>
    <script
      src="//cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"
      defer
    ></script>
    <script
      src="//cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"
      defer
    ></script>
    <script src="//cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" defer></script>
    <script src="javascript/vue.js" defer></script>
  </body>
</html>
