$key-color: #fff;
$base-color: #24292e;
$error-color: #e53333;
$font-family: 'Roboto', 'Noto Sans JP', sans-serif;
$easing: cubic-bezier(0.47, 0, 0.745, 0.715);

.urlConversion {
  *,
  *:before,
  *:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.urlConversion {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  background: rgba($base-color, 0.95);
  padding: 24px 40px;
  transition: transform 0.3s $easing 0s;
  transform: translateY(-138.2%);
  box-sizing: border-box;
  font-family: $font-family;
  &.-opened {
    transform: translateY(0);
  }
}

.urlConversion__wrap {
  display: flex;
  justify-content: space-between;
}

.urlConversion__list {
  display: flex;
  flex: 1;
}

.urlConversion__link {
  cursor: pointer;
  outline: none;
  padding: 0;
  border-radius: 3px;
  line-height: 1;
  border: 1px solid $key-color;
  background: $key-color;
  color: $base-color;
  padding: 12px 24px;
  font-size: 13px;
  font-family: $font-family;
  font-weight: 400;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  &,
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
    color: $base-color;
  }
  &:hover {
    background: transparent;
    color: $key-color;
    box-shadow: 0 3px 5px rgba(darken($key-color, 38.2%), 0.1);
    transform: translateY(-1px);
  }
  &:not(.-disabled) {
    transition: background 0.3s $easing 0s, color 0.3s $easing 0s,
      box-shadow 0.3s $easing 0s, transform 0.3s $easing 0s;
  }
  &.-disabled,
  &:not([href]) {
    border-color: rgba($key-color, 0);
    background: rgba($key-color, 0.382);
    color: rgba($key-color, 0.618);
    pointer-events: none;
    cursor: default;
  }
  &.-current {
    border-color: transparent;
    color: $key-color;
    background-color: transparent;
    position: relative;
    pointer-events: none;
    cursor: default;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateY(33px) translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: rgba($base-color, 0.9) transparent transparent transparent;
    }
  }
  & + & {
    margin-left: 8px;
  }
}

.urlConversion__form {
  position: relative;
  flex: 1;
}

.urlConversion__label {
  display: flex;
  align-items: center;
  height: 100%;
  border: 1px solid rgba($key-color, 0.125);
  background: rgba($key-color, 0.125);
  border-radius: 3px;
  padding: 12px 16px;
  width: 100%;
  transition: border 0.3s $easing 0s;
  box-sizing: border-box;
  position: relative;
  &:after {
    content: attr(data-text);
    display: block;
    font-family: $font-family;
    font-size: 12px;
    line-height: 1;
    opacity: 0;
    transition: opacity 0.3s $easing 0s;
    color: #fff;
  }
  &.-focus {
    border-color: $key-color;
    border-color: rgba($key-color, 0.382);
  }
  &.-cookie {
    &:after {
      opacity: 1;
    }
  }
  &.-error {
    border-radius: 3px 0 3px 3px;
    border-color: $error-color;
    &:after {
      opacity: 1;
      color: $error-color;
    }
  }
}

.urlConversion__caption {
  margin-right: 12px;
  padding-right: 12px;
  border-right: 1px solid #cfcfcf;
  font-family: $font-family;
  font-size: 12px;
  transition: color 0.3s $easing 0s;
  color: $key-color;
}

.urlConversion__input[type='text'] {
  padding: 0;
  margin: 0;
  border: initial;
  transition: initial;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: none;
  flex: 1;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  color: $key-color;
  outline: none !important;
  border: initial !important;
  background-color: initial !important;
}
