@charset "UTF-8";

/* ラッパー
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.lazyload__picture {
  display: block;
}

.lazyload__image {
  width: 100%;
  height: auto;
}

/* JSトリガー
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.lazyload {
}

/* ステート
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.lazyload {
}
