@charset "UTF-8";

/* ラッパー
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.test {
  margin: 0 auto;
  @include mq-pc {
    padding: rem(40);
    border: rem(1) solid #1a1a1a;
    max-width: $max-basis;
    min-width: $min-basis;
  }
  @include mq-sp {
    border: vw(1) solid #1a1a1a;
    padding: 5vw;
  }
  & + & {
    margin-top: rem(80);
  }
}

/* ヘッダー
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.test__header {
  font-weight: bold;
  @include mq-pc {
    font-size: rem(40);
  }
  @include mq-sp {
    font-size: vw(20);
  }
  & + * {
    @include mq-pc {
      margin-top: rem(20);
    }
    @include mq-sp {
      margin-top: vw(20);
    }
  }
}

/* タイトル
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.test__title {
  @include mq-pc {
    font-size: rem(20);
  }
  @include mq-sp {
    font-size: vw(20);
  }
  & + * {
    @include mq-pc {
      margin-top: rem(20);
    }
    @include mq-sp {
      margin-top: vw(20);
    }
  }
}

/* テキスト
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.test__text {
  @include mq-pc {
    font-size: rem(16);
  }
  @include mq-sp {
    font-size: vw(16);
  }
  & + .test__title {
    @include mq-pc {
      margin-top: rem(40);
    }
    @include mq-sp {
      margin-top: vw(40);
    }
  }
}

/* リスト
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.test__list {
  display: flex;
  @include mq-sp {
    flex-direction: column;
  }
}

.test__item {
  flex: 1;
  border: 1px solid #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(20);
  font-weight: bold;
  @include mq-sp {
    font-size: vw(16);
  }
}

/* セクション
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.test__section {
  height: 150px;
  text-align: center;
  background: #ccc;
  font-size: rem(16);
  display: flex;
  align-items: center;
  justify-content: center;
  & + & {
    @include mq-pc {
      margin-top: rem(100);
    }
    @include mq-sp {
      margin-top: vw(100);
    }
  }
}

/* コード
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.test__code {
  background-color: #f0f0f0;
  display: block;
  @include mq-pc {
    font-size: rem(16);
    padding: rem(20);
  }
  @include mq-sp {
    font-size: vw(16);
    padding: vw(20);
  }
  & + * {
    @include mq-pc {
      margin-top: rem(10);
    }
    @include mq-sp {
      margin-top: vw(10);
    }
  }
}
