@charset "UTF-8";

/* ラッパー
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.wrap {
  @include mq-pc {
    padding: responsive(40);
    padding-bottom: responsive(100);
  }
  @include mq-sp {
    padding: 5vw;
    padding-bottom: 21vw;
  }
  &:before {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq-pc {
      padding: responsive(10);
      font-size: responsive(16);
    }
    @include mq-sp {
      padding: vw(10);
      font-size: vw(16);
    }
  }
  @include mq-sp {
    &:before {
      content: 'メディアクエリ情報 - SP表示（可変） : #{$break-small}以下';
    }
  }
  @include mq-pc {
    &:before {
      content: 'メディアクエリ情報 - PC表示（固定） : #{$break-small + 1}〜#{$min-basis - 1}';
    }
  }
  @include mq-min {
    &:before {
      content: 'メディアクエリ情報 - PC最小幅〜最大幅の表示（可変） : #{$min-basis}〜#{$max-basis - 1}';
    }
  }
  @include mq-max {
    &:before {
      content: 'メディアクエリ情報 - PC最大幅表示（固定） : #{$max-basis}〜';
    }
  }
}
