<!DOCTYPE html>
<html lang="ja" class="html">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- OG Tag -->
    <title></title>
    <!-- Include files -->
    <link href="../common/css/common.css" rel="stylesheet" />
  </head>
  <body ontouchstart="">
    <div id="app">
      名前<input v-model="name" />
      <button v-on:click="doAdd">モンスターを追加</button>
      <ul>
        <li v-for="(item, index) in list" v-vind:key="item.id" v-if="item.hp">
          ID. {{ item.id }} {{ item.name }} HP.{{ item.hp }}
          <span v-if="item.hp < 50">瀕死！</span>
          <button v-on:click="doRemove(index)">モンスターを削除</button>
          <button v-on:click="doAttack(index)">攻撃</button>
        </li>
      </ul>
      <span v-for="item in [1, 5, 10, 15]">{{ item }}</span>
    </div>

    <script src="../js/library/pace/pace.min.js"></script>
    <script src="../js/library/lazysizes/lazysizes.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="../js/vue.js"></script>
  </body>
</html>
